:root {
    --main-velvet-color: #fff;
}
.mainContainer {
    font-family: Medium;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    width: 100%;
}
.header-logo {
    color: black;
    transition: color 0.5s ease;
    font-size: 2rem;
}
.header-logo-main {
    margin: 0 1rem;
}
.header-logo-decor {
    color: violet;
}
.header-links-wrapper {
    width: 30%;
}
.header-links-wrapper > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.header-links-wrapper > ul > li:hover {
    cursor: pointer;
}